body {
    background-color:#E6E6FA;
}

.todo-list {
    background-color: #ffffff;

}

li  {
    list-style: none;
    font-size: 24px;
}

label {
    padding-left: 20px;
}

hr {
    height: 10px;
}

.todoInput {
    margin-top: 20px;
    padding: 10px;
    border-color:none;
    height: 45px;
    max-width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.prio {
    margin-top: 20px;
    background-color: #FFD700;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.btn-custom {
    margin-top: 20px;
    color: #ffffff;
    background: cornflowerblue;
}

.btn-custom:hover {
    color: #ffffff;
    opacity: 0.75;
}

.addBtn {
    margin-left: 20px;
}

.deleteAllBtn {
    margin-top: 15px;
    color: #ffffff;
    background-color:	#DC143C;
}

.checkAllBtn {
    margin-top: 15px;
}

.deleteAllBtn:hover {
    color: #ffffff;
    opacity: 0.75;    
}

.close {
    color: black;
    display: inline-block;
}

.remove {
    display: none;
}

.prios {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #FFD700;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);  
}

.checkbox {
    vertical-align: middle;
    height: 20px;
    width: 20px;
}